@font-face {
    font-family: Trajan Pro;
    src: url(../fonts/TrajanPro-Bold.otf);
	src: url(../fonts/TrajanPro-Regular.otf);
}

.g-copyright{
	position:absolute;
	bottom:0;
	color:#fff;
	text-align:center;
}

.nav-is-overlay .page-title-1.image-bg:first-child{
	height:350px;
}

.menu-logo{
	width:100%;
}

.menu-logo .hover-bg{
	display:none;
}

.menu-logo img{
	width:240px;
	margin-top:10px;
	margin-bottom:30px;
}



.nav-menu{
	/* padding: 36px 0 27px; */
  padding: 20px 10px;
}

.height300{
	min-height:300px;
}

.apartments-header{
	min-height:80px;
}

.apartments-header h2{
	line-height:20px;
}

.whitetext{
	color:#fff !important;
}

/***********************
Facilities
************************/
#facilities{
	background-color: transparent;
	height:450px;

	position:relative;
}

.facilities-abs{
	background: URL('../images/capella/pattern.png') #333;
	opacity:.6;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	position:absolute;
}

.fw-icon-title .fw-icon-title-name {
    color: #3c4059;
    display: inline-block;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.fw-icon-title .fw-icon-title-icon {
    color: #3c4059;
    font-size: 0;
    display: inline-block;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.fw-icon-title .fw-custom-icon-image {
    overflow: hidden;
}

.fw-icon-title.fw-icon-title-left .fw-icon-title-icon, .fw-icon-title.fw-icon-title-right .fw-icon-title-icon {
    top: -1px;
}

.fw-icon-title.fw-content-align-left.fw-icon-title-left .fw-icon-title-icon {
    margin-right: 12px;
    float: left;
}

.fw-icon-title-text {
    font-weight:400;
	font-size:18px;
}

.fw-icon-title-icon img{
	width:50px;
	height:50px;
	margin-bottom:10px;
}

#leading{
	padding:2em 0;
	height:450px;
}

#leading h2{
	font-size:26px;
	line-height:20px;
}

#leading h2, #leading p{
	margin-bottom:10px;
}

/***********************
Apartments
*************************/
.x_tlt{
	font-size:90px;
	line-height:90px;
}

.check-available {
    background: #e1ba42;
    box-shadow: 0px -5px 32px 9px rgba(0, 0, 0, 0.56);
}

.inn-com-form{
	padding: 35px 40px !important;
}

.inn-com-form  p{
	font-size: 28px;
	line-height:30px;
	color:#fff;
	margin-bottom:0px;
}

.inn-com-form  p span{
	color:#2a2b33;

}

.check-available1 {
    background: #2a2b33;
    box-shadow: 0px -5px 32px 9px rgba(0, 0, 0, 0.56);
}

.inn-com-form1{
	padding: 35px 40px !important;
}

.inn-com-form1  p{
	font-size: 18px;
	line-height:30px;
	color:#fff;
	margin-bottom:0px;
}

.inn-com-form1  p span{
	color:#e1ba42;

}

.body-room-3{
	background-color: #2a2b33;
	padding:0px;
}

.body-room-3 .wrap-room-3 {
    padding-bottom: 40px;
    padding-top: 10px;
}

.body-room-3 .wrap-room-3 .wrap-item {
    margin-top: 40px;
}

.body-room-3 .wrap-room-3 .wrap-item .img {
    position: relative;
}

.body-room-3 .wrap-room-3 .wrap-item .img:before {
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    position: absolute;
    content: '';
    opacity: 0;
    pointer-events: none;
    background-color: transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#1e1818));
    background: -webkit-linear-gradient(top, transparent, #1e1818);
    background: -moz-linear-gradient(top, transparent, #1e1818);
    background: -ms-linear-gradient(top, transparent, #1e1818);
    background: -o-linear-gradient(top, transparent, #1e1818);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.body-room-3 .wrap-room-3 .wrap-item .text-room-3 {
    margin-left: 69px;
    margin-right: 69px;
    position: relative;
}

.body-room-3 .wrap-room-3 .wrap-item .text-room-3 .img1 {
    float: left;
    margin-top: 60px;
    margin-right: 70px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.body-room-3 .wrap-room-3 .wrap-item .text-room-3 .text {
    overflow: hidden;
    padding: 8px 20px 0 27px;
    background-color: #fff;
    position: relative;
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    width: 530px;
    float: left;
}

.h2-rooms {
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
}

.body-room-3 .wrap-room-3 .wrap-item .text-room-3 .text h2 {
    font-size: 30px;
	margin-bottom:10px;
}

.h5-room {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
}

.body-room-3 .wrap-room-3 .wrap-item .text-room-3 .text h5 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 33px;
}

.body-room-3 .wrap-room-3 .wrap-item .text-room-3 .text p {
    color: #898989;
    font-size: 15px;
    font-weight: 400;
}

.btn-room {
    color: #FFF;
    font-size: 12px;
    height: 38px;
    background: #8E7037;
    line-height: 24px;
    border-radius: 0px;
    font-weight: 600;
    box-shadow: none;
}

.body-room-3 .wrap-room-3 .wrap-item .text-room-3 .text .view-dateails {
    margin-top: 25px;
    width: 119px;
    position: relative;
}

.body-room-3 .wrap-room-3 .wrap-item .text-room-3 .text .line {
    width: 70px;
    margin-top: 80px;
    height: 2px;
    background: #333;
}

.body-room-3 .wrap-room-3 .wrap-item .text-room-3 .text {
    overflow: hidden;
    padding: 20px 20px 0 27px;
    background-color: #fff;
    position: relative;
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    width: 500px;
    float: left;
}

.body-room-3 .wrap-room-3 .wrap-item .text-room-3 .img1 {
    float: left;
    margin-top: 60px;
    margin-right: 70px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.body-room-3 .wrap-room-3 .wrap-item .text-room-3 .img2 {
    float: right;
    margin-top: 60px;
    margin-left: 70px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.quote-btn {
    color: #e1ba42;
    padding: 8px 36px;
    margin-top: 3px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    background: transparent;
    border: 2px solid #e1ba42;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.quote-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 2px;
    background: #e1ba42;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.quote-btn:hover, .quote-btn:focus, .quote-btn:active {
    color: #fff;
    border-color: #e1ba42;
}

.quote-btn:hover:before, .quote-btn:focus:before, .quote-btn:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/***********************
Footer
************************/
.widget{
	margin-bottom:0;
}
.footer {
    color: #222;
    font-weight: 300;
    padding: 35px 0 0px;
    border-top: 1px solid #f5f5f5;
	/*background:url('../images/capella/modal-book.jpg');*/
	background: radial-gradient(circle, #fff2c5, #fee5af, #ed9c4b );
	background-size:cover;
	background-repeat:no-repeat;
	background-color:#f2f2f2;
}

.footer-img{
	margin-top:-50px;
}

footer h4{
	font-weight:700;
	font-size:18px;
	margin-bottom:10px;
}

footer ul li a {
    color: #727070;
    font-size: 14px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.foot-social ul li {
    list-style-type: none;
    display:inline-block;
    padding-right: 10px;
    background: none;
    padding-left: 0px;
}

.foot-social ul li i {
    font-size: 16px;
    width: 34px;
    height: 32px;
    border: 1px solid #000;
    border-radius: 2px;
    padding: 7px;
    text-align: center;
    color: #000;
}

.addr{
	margin-bottom:0;
}

footer ul.two-columns li {
    width: 50%;
    float: left;
}

.foot-logo img{
	width:280px;
	height:auto;
	margin-bottom:10px;
}

#payments{
	border-top: 1px dotted rgba(255,255,255,.2);
    padding-top: 30px;
	text-align:center;
}

.foot-sec2{
	background-color:#5d1308;
	color:#fff;
	padding: 0;
}

.foot-sec2 h4{
	color:#fff;
	margin-bottom:10px;
}

.foot-sec2 p{
	text-align:center;
	font-size:13px;
	padding:5px;
	margin-bottom:0;
}

.hasimg span{
	padding-right:10px;
}

.mb10{
	margin-bottom:10px;
}

.mb30{
	margin-bottom:30px;
}

.subscribe{
    padding-top: 0px;
    position: relative;
}

.form-group {
    position: relative;
}

.padding-left {
    padding-left: 0px;
    padding-right: 0px;
}

.form-control {
    /*height: 64px;*/
    height: 51px;
    border: none;
    box-shadow: none;
    outline: none;
    color: #7d7d7d;
    /*font-size: 16px;*/
	font-size: 10px;
    border-radius: 2px;
	height: 51px;


}

.radius2 .form-control {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.subscribe .form-control {
    padding-left: 35px;
	margin-bottom:0px;
}

.search_icon {
    color: #7d7d7d;
    font-size: 16px;
    position: absolute;
    top: 14px;
    left: 10px;
}

.btn-search {
    position: absolute;
    right: 6px;
    top: 5px;

}

.btn-search .btn{
	min-width:auto !important;
}
/******************************
Apartments 1
******************************/
.margin_60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.bg-grey{
	background-color:#f9f9f9;
}

.strip_all_tour_list {
    margin-bottom: 30px;
    background-color: #fff;
    display: block;
    color: #777;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
}

.ribbon_3 {
    position: absolute;
    left: 5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}
.ribbon_3 span {
    text-transform: uppercase;
}

.ribbon_3 span {
    font-size: 10px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0,#79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0,0,0,1);
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
    position: absolute;
    top: 19px;
    left: -21px;
}

.ribbon_3.popular span {
    background: linear-gradient(#f14f3f 0,#cb4335 100%);
}

.ribbon_3 span::after, .ribbon_3 span::before {
    content: "";
    position: absolute;
    top: 100%;
    z-index: -1;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #638908;
}

.ribbon_3 span::before {
    left: 0;
    border-left: 3px solid #638908;
    border-right: 3px solid transparent;
}

.ribbon_3.popular span::after, .ribbon_3.popular span::before {
    border-bottom: 3px solid transparent;
    border-top: 3px solid #a3362a;
}

.ribbon_3.popular span::before {
    border-left: 3px solid #a3362a;
    border-right: 3px solid transparent;
}

.ribbon_3.popular span::after {
    border-left: 3px solid transparent;
    border-right: 3px solid #a3362a;
}

.ribbon_3 span::after {
    right: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid #638908;
}

.img_list {
    overflow: hidden;
    min-height: 220px;
    position: relative;
}

.short_info {
    position: absolute;
    left: 0;
    bottom: -1px;
    background: url(../images/capella/shadow_tour.png) left bottom repeat-x;
    width: 100%;
    padding: 10px 10px 8px 5px;
    color: #fff;
}

.img_list .short_info {
    padding: 5px;
    text-align: left;
    min-height: 38px;
}

.img_list a:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.img_list img {
    width: auto;
    height: 220px;
    position: absolute;
    left: 0%;
}

.img_list a img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-backface-visibility: hidden;
}

.tour_list_desc {
    padding: 10px 20px 0 0;
    border-right: 1px solid #ededed;
    height: 220px;
    line-height: 17px;
}

.score {
    float: right;
    font-size: 11px;
    margin-top: 5px;
}

.rating i{
	padding-right:3px;
}

.score span {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid #999;
    line-height: 32px;
    font-size: 13px;
    color: #999;
    margin-left: 5px;
	display: inline-block;
    font-weight: 700;
	text-align: center;
}

.tour_list_desc .rating {
    margin: 15px 0 3px -3px;
    font-size: 15px;
}

.rating .voted {
    color: #F90;
}

.strip_all_tour_list h3 {
    text-transform: uppercase;
}

.tour_list_desc h3 {
    font-size: 18px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

ul.add_info {
    padding: 0;
    margin: 0;
}

ul.add_info li {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ededed;
    text-align: center;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

ul.add_info li a {
    color: #555;
    width: 35px;
    height: 35px;
    display: block;
	line-height: 30px;
}

ul.add_info li i {
    font-size: 22px;
    position: relative;
}

ul.add_info li i {
    display: inline-block;
    top: 6px;
}

.price_list {
    display: table;
    height: 220px;
    font-size: 38px;
    color: #e74c3c;
    width: 100%;
    margin-left: -15px;
}

.price_list div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.price_list sup, ul.add_info li i {
    font-size: 22px;
    position: relative;
}

.price_list sup {
    top: -10px;
}

.price_list .normal_price_list {
    display: block;
    text-decoration: line-through;
    color: #999;
    font-size: 20px;
    margin-top: 10px;
}

.price_list small {
    font-size: 11px;
    color: #999;
    display: block;
    margin-bottom: 10px;
    line-height: 12px;
}

.price_list p {
    padding: 0;
    margin: 0;
}

.btn_1, a.btn_1 {
    border: none;
    font-family: inherit;
    color: #fff;
    background: #e1ba42;
    cursor: pointer;
    padding: 7px 20px;
    display: inline-block;
    outline: 0;
    font-size: 12px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
}

.price_list ul li{
	font-size:13px;
	text-align:center;
	border-bottom:1px dashed #CCC;
	padding:5px;
}

.price_list ul li img{
	width:30px;
	height:30px;
}
/*
footer {
    background: url(../images/capella/pattern.png) #333;
    color: #fff;
    padding: 30px 0 10px;
}

footer h3 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
	margin-bottom:0px;
}

a#email_footer, a#phone {
    display: block;
    position: relative;
    color: #e1ba42;
    font-size: 16px;
    padding-left: 0px;
    margin: 20px 0;
}

a#email_footer:before {
    font-size: 28px;
    left: 0;
    top: 5px;
}

a#email_footer i, a#phone i{
    font-size: 30px;
    padding-right:10px;
}

#social_footer {
    border-top: 1px solid rgba(255,255,255,.2);
    padding-top: 30px;
	text-align:center;
    margin-top: 30px;
}

#social_footer ul {
    margin: 0;
    padding: 0 0 10px;
	text-align:center;
}

#social_footer p {
    font-size: 12px;
    color: #8c8c8c;
}

#social_footer ul li {
    display: inline-block;
    margin: 0 5px 10px;
}

#social_footer ul li a {
    color: #fff;
    line-height: 34px;
    display: block;
    font-size: 16px;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(255,255,255,.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

footer h3 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

footer ul {
    margin: 0;
    padding: 0 0 10px;
}

footer ul li  a {
    color: #fff;
	font-weight:300;
}*/

#center-text {
  display: flex;
  flex: 1;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height:100%;

}
#chat-circle {
  position: fixed;
  bottom: 20px;
  right: 50px;
  background: #e1ba42;
  width: 50px;
  height: 50px;
  color: white;
  padding: 5px;
  cursor: pointer;
  z-index:12;
  font-size:18px;
  border: 2px solid #e1ba42;
}

.btn#my-btn {
     background: white;
    padding-top: 13px;
    padding-bottom: 12px;
    border-radius: 45px;
    padding-right: 40px;
    padding-left: 40px;
    color: #5865C3;
}
#chat-overlay {
    background: rgba(255,255,255,0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
}


.chat-box {
  display:none;
  background: #efefef;
  position:fixed;
  right:30px;
  bottom:40px;
  width:350px;
  max-width: 85vw;
  max-height:100vh;
  border-radius:5px;
  z-index:12;
/*   box-shadow: 0px 5px 35px 9px #464a92; */
}
.chat-box-toggle {
  float:right;
  margin-right:15px;
  cursor:pointer;
}
.chat-box-header {
  background: #e1ba42;
  height:50px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  color:white;
  text-align:center;
  font-size:20px;
  padding-top:12px;
}
.chat-box-body {
  position: relative;
  height:370px;
  height:auto;
  border:1px solid #ccc;
  overflow: hidden;
}

#chat-input {
  background: #f4f7f9;
  width:100%;
  position:relative;
  height:47px;
  padding-top:10px;
  padding-right:50px;
  padding-bottom:10px;
  padding-left:15px;
  border:none;
  resize:none;
  outline:none;
  border:1px solid #ccc;
  color:#888;
  border-top:none;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  overflow:hidden;
}
.chat-input > form {
    margin-bottom: 0;
}
#chat-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
#chat-input::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
#chat-input:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
#chat-input:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
.chat-submit {
  position:absolute;
  bottom:3px;
  right:10px;
  background: transparent;
  box-shadow:none;
  border:none;
  border-radius:50%;
  color:#5A5EB9;
  width:35px;
  height:35px;
}
.chat-logs {
  padding:15px;
  height:370px;
}

.chat-logs::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.chat-logs::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.chat-logs::-webkit-scrollbar-thumb
{
	background-color: #5A5EB9;
}



@media only screen and (max-width: 500px) {
   .chat-logs {
        height:45vh;
    }
}

.chat-msg.user > .msg-avatar img {
  width:45px;
  height:45px;
  border-radius:50%;
  float:left;
  width:15%;
}
.chat-msg.self > .msg-avatar img {
  width:45px;
  height:45px;
  border-radius:50%;
  float:right;
  width:15%;
}
.cm-msg-text {
  background:white;
  padding:10px 15px 10px 15px;
  color:#666;
  max-width:75%;
  float:left;
  margin-left:10px;
  position:relative;
  margin-bottom:20px;
  border-radius:30px;
}
.chat-msg {
  clear:both;
}
.chat-msg.self > .cm-msg-text {
  float:right;
  margin-right:10px;
  background: #5A5EB9;
  color:white;
}
.cm-msg-button>ul>li {
  list-style:none;
  float:left;
  width:50%;
}
.cm-msg-button {
    clear: both;
    margin-bottom: 70px;
}

.book-form .form-control{
	border: 1px solid #ccc;
	background-color: #fff;
	/*color: #a3a3a3;*/
	color: #000;
	font-size:14px;
	height:50px;
	margin-bottom:0px;
}

.book-form  select.form-control{
	font-size:12px;
}

.book-btn{
	width:100%;
	padding:10px;
	background: #333;
	color:#fff;
	border:none;
}

.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .fa {
  position: absolute;
  padding: 15px;
  font-size:20px;
  pointer-events: none;
}

/* align glyph */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; margin-bottom:0px;}
.right-addon input { padding-right: 30px; margin-bottom:0px;}

/************************
Single room css
***************************/
.amenities-list{
	background-color:#f2f2f2;
	padding:25px;
}

.amenities-list h3 {
    font-size: 26px;
    font-weight: normal;
    margin: 0 0 25px 0;
    position: relative;
}

.amenities-list li {
    min-height: 30px;
    margin-bottom: 25px;
	position:relative;
}

.amenities-list li img {
    float: left;
    margin: 0 10px 0 0;
    width: 32px;
    height: 32px;
}

.amenities-list li strong {
    font-size: 16px;
    font-weight: normal;
    display: block;
	font-weight:600;
	padding:5px 0px;
}

.amenities-list li span {
    font-size: 12px;
    display: block;
	position:absolute;
	bottom:-5px;
	left:45px;
}

#single_room_feat{
	border-bottom: 2px solid #555;
    margin-bottom: 30px;
	padding: 0;
    margin: 25px 0 10px 0;
}

#single_room_feat ul {
    list-style: none;
    padding: 0;
    margin: 25px 0 0 0;
    display: table;
    border-bottom: 2px solid #555;
    margin-bottom: 30px;
}

#single_room_feat ul li {
    display: table-cell;
    width: 1%;
    vertical-align: middle;
    text-align: center;
    padding: 0 10px 20px 10px;
    white-space: nowrap;
}

#single_room_feat ul li i {
    font-size: 36px;
    display: block;
    margin-bottom: 10px;
}

#single_room_feat ul li i  img{
	width:36px;
}

.amenities{
	text-align:center;
	line-height:15px;
	margin-bottom:10px;
	min-height: 98px;
}

.amenities i {
    font-size: 22px;
    display: block;
    margin-bottom: 10px;
}

.amenities i img{
    width:36px;
	height:36px;
}

.amenities small{
	font-size:10px;
	color:#e74c3c;
}

.more-amenities{
}

.view-more,.view-less{
	color:#000;
	font-weight:normal;
}

.view-more:hover{

}

.addon,.view-less{
	display:none;
}

.description h3{
	font-size:20px;
	font-weight:400;
}

.booknow-btn{
	margin:15px 0px;
}

.hp-right-com {
    padding: 30px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    background-color: #ffffff;
    border-radius: 2px;
    text-align: center;
    position: relative;
    overflow: hidden;
	margin:25px 0;
}

.hp-card-in h3 {
    margin-top: 0px;
	font-weight:600;

}

#map{
	width:100%;
	height:350px;
}

.bg-white{
	background-color:#fff;
}

.sub_header_content {
    display: table;
    width: 100%;
    height: 50px;
	margin-top:-37px;
	z-index:2;
	position:absolute;
    background: url(../images/capella/pattern_3.png) repeat-x center bottom;
}

.hotel_container {
    background-color: #fff;
    margin-bottom: 30px;
	width:300px;
}

.img_container {
    position: relative;
    overflow: hidden;
    border: 1px solid #fff;
}

.hotel_container .img_container img{
	width:100%;
}

.hotel_container .score {
    font-size: 11px;
    margin-top: 5px;
    position: absolute;
    bottom: 30px;
    left: 5px;
}

.hotel_container a .score {
    color: #fff;
}

.hotel_container .short_info.hotel {
    padding-left: 10px;
}

.short_info .price {
    float: right;
    font-size: 28px;
    font-weight: 300;
    display: inline-block;
}

.hotel_container .hotel_title, .transfer_container .transfer_title {
    padding: 15px;
    position: relative;
}

.hotel_container .hotel_title h3 {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
	line-height: 21px;
}

.hotel_container  .short_info{
	font-weight:400;
	font-size:18px;
}

.tprice{
	float:right;
	font-size:24px;
	font-weight:600;
	position:absolute;
	right:0px;
	padding:10px 0px;
	top:15px;
	text-align:right;
	color:#a91d1d;
	line-height:13px;
}

.tprice sup{
	font-size:12px;
	top: -.8em;
}

.tprice small{
	font-size:11px;
}

.book-now{
	position: absolute !important;
    right: 80px;
    height: 80px !important;
    color: #fff;
    font-size: 16px;
}

.booking-tlt{
	font-size:18px;
	padding-left:10px;
}

.book-form  .inner-addon i{
	color:#a6a7a8 !important;
  top: 0px;
  font-size: 18px;
  position: absolute!important;
  z-index: 9!important;
}

.silver
{
  border: 2px solid #eac657;
  color: #ffdb6d;
}
.silver:hover
{
  background: #ffdb6d;
}

.btn-black{
	background-color:#000;
	border:none;
	color:#fff !important;
}

.btn-black:hover{
	background-color:#000;
}

.booknow-mobile{
	display:none;
	background-color:#fff;
	padding:10px;
	text-align:center;
	position:fixed;
	bottom:0px;
	z-index:10;
	width:100%;
}

.booknow-mobile a{
	margin-bottom:0;
}

/*********************
List Your Home
************************/
.wp-heading h3{
	margin-bottom:0px;
}

.wp-heading .svg_divider{
	margin-bottom:30px;
}


.content{
	padding:0px;
}

.content p{
	margin-bottom:0;
}

.local-attraction{
	background-color:#f2f2f2;
}

.overlay-light:before{
	opcaity:0.1;
}

.elite-services{
	padding:20px;
	background-color:#f2f2f2;
	margin-bottom:2em;
	min-height:410px;
	border:1px solid #CCC;
}

.elite-services h4{
	font-weight:800;
}
.elite-services p{
	margin-top:25px;
}

/*
.hr-elite{
    margin-top: 10px;
	margin-bottom:10px;
	border-top: 4px solid;
	  border-color: linear-gradient(red, yellow, blue);
}*/

.h__linear {
  position: relative;
  margin-bottom: 4px;
}
.h__linear:before, .h__linear:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
}
.h__linear:after {
  right: 0;
  height: 4px;
  background-color: #e1ba42;
}

.h__linear--gradient {
  position: relative;
  margin-bottom: 8px;
}
.h__linear--gradient:before, .h__linear--gradient:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
}
.h__linear--gradient:after {
  right: 0;
  height: 4px;
  background-color: #eecd61;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwODNmNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzVkY2RmYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #b69329), color-stop(100%, #e1ba42));
  background-image: -moz-linear-gradient(left, #b69329, #e1ba42);
  background-image: -webkit-linear-gradient(left, #b69329, #e1ba42);
  background-image: linear-gradient(to right, #b69329, #e1ba42);
}
.testinmonials-slider .slides > li{
      height: auto!important;
}
.testinmonials-slider .flex-direction-nav a{
  margin: 10% 0 0;
}
.btn-golden.btn {
    color: #e1ba42!important;
    border-color: #e1ba42!important;
    background: transparent;
}
.btn-golden.btn:hover{
  color: #000!important;
}
.internal--lamina__image__insert {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: repeat-y;
}
.about-page .feature.boxed{
  min-height: 320px;
  background: rgba(34, 34, 34, 0.7);
}

.process-box {
    padding: 0 30px;
    text-align: center;
}

.process-icon {
    position: relative;
    border-radius: 50%;
    height: 135px;
    line-height: 160px;
    width: 135px;
    position: relative;
    margin: auto;
    transition: all 0.3s ease 0s;
}

/*.process-icon:before {
    position: absolute;
    content: '';
    border-radius: 100%;
    background-color: #FAD961;
    background-image: -webkit-linear-gradient(41deg, #FAD961 0%, #f7601c 100%);
    background-image: -o-linear-gradient(41deg, #FAD961 0%, #f7601c 100%);
    background-image: linear-gradient(131deg, #FAD961 0%, #f7601c 100%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}*/

.process-icon i {
    font-size: 40px;
    position: relative;
    z-index: 2;
    color: #fff;
    transition: .3s;
}

.process-icon p {
    background-color: #5d1308;
    color: #fff;
    border-radius: 50%;
    font-size: 16px;
    height: 50px;
    left: -10px;
    line-height: 50px;
    margin: 0;
    position: absolute;
    top: 10px;
    font-weight: 500;
    width: 50px;
    box-shadow: 0px 7px 35px rgba(0, 0, 0, 0.05);
    transition: .3s;
}

.process-box h5 {
    display: inline-block;
    font-weight: 600;
    margin-top: 30px;
    text-transform: capitalize;
    font-size: 22px;
}

.process-icon::after {
    background: url('../images/capella/arrow-big.png') no-repeat;
    content: "";
    height: 43px;
    left: 70%;
    position: absolute;
    top: 40%;
    transform: translateX(50%) translateY(-50%);
    width: 183px;
}

.process-icon-1::after{
	display:none;
}

.col-md-4:nth-child(2n) .process-icon::after {
    background: url('../images/capella/arrow-big-2.png') no-repeat;
    transform: translateX(50%) translateY(20%);
}

.image-square-1{
	height: 35vw;
}

.image-square-1 h3{
	color:#e1ba42;
	font-family: TrajanPro;
	font-size:3em;
	line-height:55px;
}

.dubai-city{
	padding:4em 0;
	background: linear-gradient( 0deg, rgba(246,190,95,0.87) 50%, rgba(225,162,64,0.87) 100%);
}

.dubai-city p{
	color:#222;
}

.solution-section.bg-one {
    background: url('../images/capella/destinations-dubai-marina-hero.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.solution-section .opacity.opacity-one {
    background: linear-gradient( 0deg, rgba(246,190,95,0.87) 50%, rgba(225,162,64,0.87) 100%);
}

.theme-title-two {
    position: relative;
    z-index: 2;
	padding:3em 0;
}

.theme-title-two h2 {
    font-size: 42px;
}

.solution-section .theme-title-two.color-fix h2, .solution-section .theme-title-two.color-fix p {
    color: #222;
}

.theme-title-two p {
    font-size: 16px;
    line-height: 24px;
    padding-top: 25px;
}

.new-con{
	text-align:center;
}

.new-con img {
    /* margin: 0 auto; */
    /* display: block; */
    width: 32px;
}

.new-con h4 {
    text-transform: uppercase;
    padding-bottom: 12px;
    color: #222;
    margin-bottom: 2px;
    margin-top: 15px;
	font-weight: 700;
}

.contact-icon{
	color:#666;
	font-weight: 400;
}

.padding_20{
	padding:0px 0 40px;
}

.contact-form{
	/*padding:20px 0px;*/
	padding:7px 0px;
}

.contact-form .form-control{
	border:1px solid #e5dfdf;
	background:#fff;
}

.map-contact{
	width:100%;
	height:400px;
	background-color: grey;
}

.map-holder{
	height:450px;
}

.map-holder iframe{
	height:500px;
}

.contact-details {
    padding: 20px;
    background: #efefef;
}

.main-title-2 {
    margin-bottom: 30px;
}

.main-title-2 h1 {
    margin: 0 0 15px;
    font-size: 30px;
	line-height: 38px;
}

.contact-details .media {
    margin: 0 0 30px;
}

.contact-details .media .media-left {
    padding-right: 30px;
}

.contact-details .media .media-left i {
    width: 50px;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
}

.contact-details .media .media-left i {
    background: #eac657;
}

.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}

.contact-details .media .media-body h4 {
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
    margin: 0;
}

.contact-details .media .media-body p {
    color: #5a5959;
    font-size: 13px;
    letter-spacing: 0.52px;
    line-height: 20px;
	margin-bottom: 5px;
}

.contact-details a{
	font-weight:300;
	color:#222;
}
ul.paymentoption li{
  display: inline-block;
  width: 25%;
}
.public-transport img{
  float: left;
}
.public-transport .text-left {
    text-align: left !important;
    padding: 15px;
    margin-left: 80px;
}
.more-details .text-left h4 span{
  float: right;
  color: #d4b552;
  font-weight: 600;
}
hr.seperator-1 {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0 10px 0;
    width: 100%;
}
.questions h3{
  font-family: TrajanPro;
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 25px;
}
.questions{
      margin-top: 10%;
}
.countrydrpdwn{
  background: #fff;
  border:1px solid #e5dfdf;
}

.sub-header{
	font-size:22px;
}

.margin-top-105 {
    margin-top: 105px !important;
}

.bg-greyish {
    background: #f5f9fd;
}

.welcome-title {
    padding-bottom: 17px;
}

.welcome-title .title-1 {
    color: #000;
    font-size: 26px;
}

.welcome-title .title-1 span, .welcome-title .title-2 span {
    color: #f9c322;
}

.welcome-content > p {
    font-weight: 300;
}

.welcome-content > p span {
    color: #f9c322;
    font-size: 16px;
    font-weight: 400;
}

.welcome-services {
    padding-top: 34px;
}

.w-single-services {
    margin-bottom: 31px;
}

.services-img, .services-desc {
    display: inline-block;
}

.services-img {
    float: left;
    margin-right: 16px;
	width:100%;
}

.services-desc > h6 {
    color: #303030;
	font-size:17px;
	margin-bottom:10px;
	margin-top:10px;
}

.services-desc > p {
    font-weight: 300;
    margin: 0;
}

ul.icon-list,
ul.icon-list li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.icon-list{
  margin: 0em 0 0.5em;
}

ul.icon-list li {
  margin: 0.5em;
    margin-left: 1.5em;
	font-size:14px;
}

ul.icon-list li:before {
  content: '\f054';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #e1ba42;
}

.bns h3{
	color:#000;
	font-size:22px;
	line-height:25px;
}

.bns ul.icon-list li{
	font-size:16px;
}

.fun-fact {
    background: url('../images/capella/cover-bg-min.png')no-repeat scroll center center / cover;
    position: relative;
    padding: 60px 0;
}

.overlay-yellow:before {
    position: absolute;
    content: "";
    /*background: rgba(225,186,66,0.95);*/
	background: linear-gradient( 0deg,  rgba(252, 236, 201, 0.94) 15%, rgba(255,186,66,0.87) 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.xs-title{
	font-size:24px;
	color:#000;
	line-height:30px;
	margin-bottom:25px;
}

.add-sevices{
	text-align:center;
	font-size:20px;
	color:#fff;
	padding:2em 1em;
}

.add-sevices p{
	color:#000;
	margin:15px 0;
}

.add-sevices img{
	width:90px;
	height:90px;
}

.feature-3 img{
	width:40px;
	height:auto;
}

.dubai-content{
	padding:1em 0;
	font-size:18px;
}

.dubai-content p{
	color:#fff;
	text-align:left;
}

.dubai-content p strong{
	color:#e1ba42;
	font-weight:700;
}

.less-padding{
	padding:0;
}

.inn-com-form-book  {
    padding: 0;
    border-radius: 5px;
    box-shadow: 0px 9px 24px -9px rgba(0, 0, 0, 0.8);
    background: #2a2b33;
    background: -webkit-linear-gradient(to bottom, #efefef, #e6e6e6);
    /* background: linear-gradient(to bottom, #efefef, #e6e6e6); */
    border: 1px solid #e1d1a1;
	margin-top:1.5em;
	margin-bottom:4em;
}

.inn-com-form-book h3{
	color:#e1ba42;
}

.btn-fullwidth{
	width:100%;
}

.header-title{
	background-color:#c5921d;
	margin:0;
}

.header-title h3{
	color:#fff;
	text-align:center;
	margin:0;
	padding:15px 0;
}

.booking-img{
	margin-top:-5px;
}

.form-content{
	background-color:#2d0e1e;
	padding:35px 40px;
	border-top:none;
}


.select-control{
	background: #f5f5f5;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    border-radius: 0;
    font-size: 13px;
    color: #999;
}

.btn-fullwidth{
	width:100%;
	background-color:#c5921d;
}

.booking-section{
	padding-top:3.5em;
}

.booking-photo{
	margin-top:10em;
}

.visible-x{
	display:none;
}

/*************************
        loding
*************************/
#preloader { background-color:#fff; bottom:0; height:100%; left:0; overflow:hidden !important;  position:fixed; right:0; top:0; width:100%; z-index:99999; text-align:center;}
.clear-loading { text-align: center;  position: absolute; top: 50%; left: 50%; margin-left: -50px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; display:inline-block;  text-align:center; transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); }
 /*Loading Effect */
.loading-effect { width: 100px; height: 100px; }
.loading-effect > span,
.loading-effect > span:before,
.loading-effect > span:after { content: ""; display: block; border-radius: 50%;  border: 3px solid #18bfc3; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.loading-effect > span { width: 100%; height: 100%; top: 0; left: 0;  border-left-color: transparent;  -webkit-animation: effect 2s infinite linear;  -moz-animation: effect 2s infinite linear; -ms-animation: effect 2s infinite linear; -o-animation: effect 2s infinite linear; animation: effect 2s infinite linear;}
.loading-effect > span:before { width: 75%; height: 75%; border-right-color: transparent; }
.loading-effect > span:after { width: 50%; height: 50%; border-bottom-color: transparent; }
@-webkit-keyframes effect {
  from { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  to {-webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes effect {
  from { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  to {-webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes effect {
  from { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  to {-webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes effect {
  from { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  to {-webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes effect {
  from { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }
}

.ui-widget-header{
	border: 1px solid #c5921d;
    background: #e4bb0a;
	position:relative;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #e1ba42;
    background: #e1ba42;
    font-weight: normal;
    color: #ffffff;
}


.zindex-0{
	z-index:0 !important;
}

.title-xs{
	font-size:20px;
	color:#e1ba42;
	margin-bottom:1em;
}

.panel-group .panel {
	border-radius: 0;
	box-shadow: none;
	border-color: #EEEEEE;
}

.panel-default > .panel-heading {
	padding: 0;
	border-radius: 0;
	color: #212121;
	background-color: #FAFAFA;
	border-color: #EEEEEE;
}

.panel-title {
	font-size: 14px;
}

.panel-title > a {
	display: block;
	padding: 15px;
	text-decoration: none;
}

.more-less {
	float: right;
	color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #EEEEEE;
}


.policy-links{
	text-align:center;
}


.policy-links a{
	font-weight:300;
	color: #ddb743;
}

.policy-links a:hover{
	color:#c4a138;
}

nav.transparent .module.no-border-left{
	border-left:none !important;
}

.empty-width{
	width:80px;
}



element.style {
}
nav.transparent .module.widget-handle {
    border-left: 1px solid rgba(255, 255, 255, 0.2) !important;
}
.module.widget-handle {
    border-left: 1px solid #ccc;
    padding: 0 24px;
    cursor: pointer;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}
.nav-bar .module-container{
	height:80px;
}

#m-booked-small-t3-62696{
	float:left;
	margin-top:21px;
}

nav.fixed #m-booked-small-t3-62696 *{
	color:#000 !important;
}
